// Place all the styles related to the weibos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidetag{
    dispaly: none;
}
.top-alert{
    margin: 0 !important;
}
.keyword-label{
    margin-bottom: 7px;
    margin-right: 10px;
    display: inline-block !important;
}
